# Dependencies
node_modules/

# Build output
dist/

# Environment
.env

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
*.tmp

# Upload files
uploads/retur/*
!uploads/retur/.gitkeep
uploads/shipping/resi/*
!uploads/shipping/resi/.gitkeep
uploads/shipping/ticket/*
!uploads/shipping/ticket/.gitkeep

package-lock.json

notes.txt